body {
    background-color: #222;
    margin: 0px;
    color: #fff;
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 8px;
}

a {
    color: aquamarine;
}

img {
    image-rendering: pixelated;
}

#dice > button {
    border: none;
    background-color: transparent;
}

#dice {
    height: 200px; 
    padding: 32px; 
    background-color: #111;
    text-align: center;
}

#rules {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 16px;
}

.buttons {
    height: 32px; 
}
.selection {
    height: 32px; 
}
.faded {
    opacity: 0.5;
}